body{
    overflow-x: hidden;

}
.absolute{
    position:absolute;
}
.disapear-on-small-screen{
    @media  screen and (max-width: 810px) {
        display:none;
    }
}
.imgoo{
    top:30vh;
    left:3vw;
    width:10px;
    @extend .absolute;
    @extend .disapear-on-small-screen;
}

.imgo{
    top:31vh;
    right:14vw;
    width:6px;
    @extend .absolute;
    @extend .disapear-on-small-screen
    
}

.zigZag{
    top:65vh;
    left:-65px;
    width:50px;
    @extend .absolute;
    @extend .disapear-on-small-screen
    
}

.vsCode{
    @extend .absolute;
    top:30%;
    right:calc(10% - 30px);
    width:60px;
    @media  screen and (max-width: 810px) {
        width:45px;
        top:10%;
        right:calc(17% - 15px);
    }
}
.bulb{
    @extend .absolute;
    top:30%;
    width:13vw;
    left:-25px;
    @media  screen and (max-width: 810px) {
        width:calc(30% - 20px);
        top:10%;
        left:0%;
    }
}
.imgoo2{
    @extend .absolute;
    top:50%;
    width:20px;
    left:35px;
    @media  screen and (max-width: 810px) {
        width:12px;
        top:40%;
        left:15%;
    }
}
.triangle{
    @extend .absolute;
    top:50%;
    right:calc(10% - 30px);
    width:20px;
    @media  screen and (max-width: 810px) {
        width:15px;
        top:35%;
        right:calc(17% - 15px);
    }
}
.figma{
    @extend .absolute;
    top:65%;
    width:4.5vw;
    left:-25px;
    @media  screen and (max-width: 900px) {
       
        top:75%;
        
    }
    @media  screen and (max-width: 810px) {
        width:40px;
        top:58%;
        left:5%;
    }
}
.wordPress{
    @extend .absolute;
    right:calc(5% - 5px);
    bottom:7%;
    width:50px;
    @media  screen and (max-width: 810px) {
        width:40px;
        bottom:5%;
        right:calc(5% - 5px);
    }
}
.imgo2{
    @extend .absolute;
    bottom:12%;
    width:10px;
    left:35px;
    @media  screen and (max-width: 810px) {
        width:8px;
        bottom:14%;
        left:15%;
    }
}

.droplet{
    @extend .absolute;
    right:-20px;
    bottom:-20px;
    width:150px;
    height:fit-content;
    @media screen and (max-width:810px) {
        width:15vw;
        // bottom:-30px;
    }
}

.enrolledStudent{
    @extend .absolute;
    left:-30px;
    top:15%;
    z-index: 2;
    width:150px;
    height: fit-content;
    @media screen and (max-width:1100px) {
        top:38%;
    }
    @media screen and (max-width:810px) {
        top:18%;
        left:7%;
        width:120px;
    }
    @media screen and (max-width:550px) {
        left:5%;
        width:90px;
    }
}

.ring{
    @extend .absolute;
    bottom:-9%;
    right:-18%;
    width:40px;
    @media screen and (max-width:810px) {
        right:-10%;
        bottom: unset;
        top:20%;
        width:20px;
    }
}

.greenZigZag{
    @extend .absolute;
    top:-50px;
    right:-17%;
    width:40px;
    @media screen and (max-width:810px) {
        top:-20px;
        right:-9%;
        width:30px
    }
    @media screen and (max-width:510px) {
        right:-6%;
    }
}

.yellowZigZag{
    @extend .absolute;
    bottom:-100px;
    right:35%;
    width:40px;
    @extend .disapear-on-small-screen;
}

.ani1{
    animation: aniProfile1 2s ease-in-out 0.5s 1  forwards;
}
.ani2{
    animation: aniProfile2 2s ease-in-out 0.5s 1  forwards;
}

.firstInd{
    translate: 0;
   
}

.secondInd{
    translate: -30vw;
    @media screen and (max-width:810px) {
        translate:-60vw ;
    }
    @media screen and (max-width:610px) {
        translate:-70vw ;
    }
}
.thirdInd{
    translate: -45vw;
    @media screen and (max-width:810px) {
        translate:-150vw ;
    }

}
.forthInd{
    translate: -58vw;
    @media screen and (max-width:810px) {
        translate:-210vw ;
    }
    @media screen and (max-width:610px) {
        translate:-215vw ;
    }
}

@keyframes aniProfile1 {
    0%{
        left:-10vw;
    }
    100%{
        left:0;
    }
}
@keyframes aniProfile2 {
    0%{
        right:-10vw;
    }
    100%{
        right:0;
    }
}