:root{
    --primary-background:#004DB3;
    --primary-color:#004DB3;
    --secondary-background:#AAC4E6;
    --light-background:#F8F9FC;
    --white-color:#fff;
    --link-color:#AAC4E6;
    --light-color:#AAC4E6;
    --dark-background:#000F24;
    --dark-color:#000F24;
    --gray-color:#A1A1A1;
    --gray-border:#EAEAEA;
}