:root{
  --main-width:90%;
  --font-2: 'Clash Display', sans-serif;
                                             
}
*{
  box-sizing: border-box !important;
  font-family: 'Satoshi Regular';
}

body{
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
}

ul,p{
  margin:0;
  padding:0;
}

